## Core options
database                      = "postgres:#steampipe@localhost:9193/steampipe"
notifier                      = "default"
notification_level            = "info"
approvers                     = ["default"]
max_concurrency               = 1
incorrect_tags_default_action = "notify"

base_tag_rules = {
  add           = {}
  remove        = []
  remove_except = []
  update_keys   = {}
  update_values = {}
}